<html>
    <head>
        <link rel="stylesheet" type ="text/css" href= "/style/style.css">

    </head>

    <body>
        <h1> Decrebrian's book store </h1>
        <img src="/images/1main.jpeg" alt="library like a brain" />

    </body>

</html>